apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-python
  namespace: assessment
  labels:
    app: app-python
spec:
  replicas: 3
  selector:
    matchLabels:
      app: app-python
  template:
    metadata:
      labels:
        app: app-python
    spec:
      containers:
      - name: app
        image: assessment/app-python:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000
          name: http
        env:
        - name: MONGO_URI
          value: "mongodb://mongo:27017/assessmentdb"
        - name: REDIS_HOST
          value: "redis"  # NEW
        - name: REDIS_PORT
          value: "6379"   # NEW
        - name: APP_PORT
          value: "8000"
        resources:
          requests:
            memory: "128Mi"
            cpu: "250m"
          limits:
            memory: "256Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8000
          initialDelaySeconds: 15
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 5
